.navBar {
  display: flex;
  flex-direction: row;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  list-style: none;
  font-size: 20px;
  margin-left: 100px;
  text-align: center;
  line-height: 5.6em;
}

.navListItem {
  padding: 5px;
  text-decoration: none;
  color: black;
  margin-right: 14px;
}

.city {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  padding-right: 30px;
}

.contactStyle {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.catPics {
  display: flex;
  justify-content: center;
}

.selected {
  background: #f2f3f4;
  border-radius: 50%;
  color: black;
  font-weight: 900;
  line-height: 5.6em;
  margin-right: 5px;
  text-align: center;
  width: 5.6em;
}

/*.flexOuter {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-content: center;
}*/
